@page "/"
@rendermode InteractiveWebAssembly

<div class="field has-addons">
    <div class="control is-expanded">
        <input placeholder="@ViewModel.SearchPlaceholderText" class="input is-rounded"
               @bind-Value=ViewModel.SearchText  @bind-Value:event="oninput"  />
    </div>
    <div class="control">
        <a href="add" class="button is-link">
            <span class="icon"><i class="fa-solid fa-file-circle-plus"></i></span>
        </a>
    </div>
</div>

<div>
</div>

<div class="codes-list">
    @if (ViewModel.HasCodes)
    {
        foreach (var item in ViewModel.TwoFactorCodes)
        {
            <div class="code-card">
                <h4>@item.Description</h4>
                <p>@item.Name</p>
                <h2>@item.CurrentCode</h2>
                <div class="actions">
                    <button @onclick="() => ViewModel.CopyToClipboard(item.CurrentCode)">
                        <span class="icon"><i class="fa-solid fa-clipboard"></i></span>
                    </button>
                    <button @onclick="() => ViewModel.OpenDeleteModal(item)">
                        <span class="icon"><i class="fa-solid fa-trash-can"></i></span>
                    </button>
                </div>
            </div>
        }
    }
    else
    {
        <p>@(new MarkupString(ViewModel.NoCodesContent))</p>
    }
</div>

<ModalComponent 
                @bind-IsVisible="ViewModel.IsModalVisible"
                OnClose="ViewModel.CloseModal">
    <Title>
        @(new MarkupString(ViewModel.ModalTitleContent))
    </Title>
    <BodyContent>
        @(new MarkupString(ViewModel.ModalBodyContent))
    </BodyContent>
    <FooterContent>
        <button class="button is-danger @(ViewModel.IsDeleting ? "is-loading":"")" @onclick="ViewModel.DeleteSelectedCode">De@(new MarkupString(ViewModel.DeleteButtonContent))lete</button>
        <button class="button" @onclick="ViewModel.CloseModal">@(new MarkupString(ViewModel.CancelButtonContent))</button>
    </FooterContent>
</ModalComponent>

<CountDownComponent TimeToCount=30 OnReset=ViewModel.RefreshCodes />


